<div>
    <!-- admin details -->
    <div class="profile">
        <img src="https://www.pngitem.com/pimgs/m/420-4204652_oic-provincial-statistics-officer-psa-maguindanao-user-icon.png" alt="admin image">
        <h3>Admin</h3>
        <h4>admin@luminar.co.in</h4>
    </div>
    <mat-divider></mat-divider>
    <h2>Pages</h2>
    <div class="pages">
        <a routerLink="">Dashboard</a>
        <a routerLink="employees">Employees</a>
        <a routerLink="gallery">Gallery</a>
    </div>
    <mat-divider></mat-divider>
    <h2>Tools</h2>
    <div class="pages">
        <a routerLink="contacts"> <mat-icon> contact_phone </mat-icon> Contacts</a>
        <a routerLink="leads"> <mat-icon>leaderboard</mat-icon> Leads</a>
    </div>
</div>